body{
    font-family:'roboto',sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(238, 249, 251);
    background-size:cover;
    background-repeat: no-repeat;
    }

	a.visited{color:purple;}
	a.hover{color:red}
	.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
}

	h1 {
  	padding-top:50px;
  	text-align: center;
	}


	p {
  	font-family: verdana;
  	font-size: 10px;
}

	label{
   	font-size: 20px;
   	font-weight: bold;
}

	input{
   	width: 200px;
 }

 	div {
      	margin:auto;
      	width: 380px;
      	height: 870px;
      	border-radius:3px;
      	background-color:white;
}
    
	form {
  	width: 300px;
 	margin-left: 20px;
}

	footer a{
	color: #FFFFFF;
	padding: 10px;
	font-size: 40px;
	position: relative;
	top:-180px;
	

}
	footer h3{
		color: #FFFFFF;
		font-family:'Times New Roman', Times, serif;
		font-size: 50px;
		margin-left: 15px;
   		position: relative;
   		top:-190px;
   
}

	
	form input {
  	width: 100%;
  	padding: 7px;
  	border: 1px solid gray;
  	border-radius: 10px;
}

	input [type="reset"],[type="reset"]{
		width: 320px;
  		height: 35px;
  		margin-top: 10px;
  		background-color: MediumSeaGreen;
  		color: white;
  		font-size: 18px;
    }

	input [type="submit"],[type="submit"]{
		width: 320px;
  		height: 35px;
  		margin-top: 10px;
  		background-color: MediumSeaGreen;
  		color: white;
  		font-size: 18px;
    }

