:root{
    --primaryColor:#fff;
    --secondaryColor:#42C2FF;
    --lightColor:#ffffff;
    --bgColor-1:#4B7BE5;
    --bgColor-2:#184C78;
    --padding:25%;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: .2s linear;
    text-transform: capitalize;
}
header{
    background-color:#184C78;
    position:fixed;
    width: 100%;
    height: 7vh;
    display:flex;
    justify-content:space-between;
    padding:10px 200px;
  }
  
  .logo{
    text-decoration:none;
    color:#FFFFFF;
    font-weight: bold;
    margin-left: -50px;
    font-size:1.8em;
    font-family:'Times New Roman', Times, serif;
   
    }
  
    .loginsignup a{
      color:#FFFFFF;
      text-decoration:none;
      font-size: 1.3em;
      font-weight: 80;
      padding-left:30px;
      position: relative;
      left: 240px;
      font-family:'Times New Roman', Times, serif;
  
    }
  
  .loginsignup a:hover{
    color: #918a7d;
  }
  #mainbox{
    
    position:fixed;
    left: 20px; 
    width: 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: -10px;
  
    
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 10px;
   
    text-transform: uppercase;
  }
  
  #menu{
    transition: 0.6s;
  }
  
  
  .sidemenu{
    position: fixed;
    top: 0px;
    left:0px;
    height: 100%;
    
    
    width:0px;
    background-color:#184C78; 
    z-index: 1;
    padding-top: 100px;
    overflow: hidden;
    transition: all 0.3s;
    
  
  }
  .sidemenu a{
    padding: 8px;
    font-size: 30px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
     justify-content:space-between;
    
     margin-bottom: 30px;
  }
  .sidemenu i{
    margin-right: 8px;
  }
  
  
  
  .sidemenu a:hover{
  
    color: #FFFFFF;
    margin-left: 10px;
    transition: 0.2s;
    top: 0px;
  }
  
  .sidemenu .closebtn{
    color: #FFFFFF;
    position: absolute;
    top: 0px;
  }
 

    

html{
    font-family:'Times New Roman',Times,serif ;
    font-size: 16px;
    color: var(--primaryColor);
}
.home{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
h2{
    font-size: 2.3em;
    letter-spacing: 0.1rem;
    margin: 3.8rem;
}
nav{
    color:#184c78;
    padding-top: 0.5rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    text-decoration-line: underline;
    
    
   
}
.gallery{
    padding: 10px 30px;
    margin-top: 40px;
    
}
.gallery img{
    width: 230px;
    padding: 10px;
    filter: grayscale(100%);
    transition: 0.5s;
    
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    
}
.box{
    position: absolute;
    top: 105rem;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    background: #184c78;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    transition: 1s;
    
}
.box:hover{
    box-shadow: 0 15px 30px rgba(0,0,0, .5);
}
.box .content{
    padding-left: 20px;
}
.box .content h2{
    margin: 0;
    padding-left: 0;
    font-size: 50px;
}
.box .content p{
    margin: 0;
    padding: 10px 0 0 ;
    text-align: justify;
    font-size:  25px; ;

}
video{
    padding-left: 10rem;
    width: 900px;
    height: 500px;

    

}
footer{
    background-color: #184C78;
    margin-top: 500px;
}


 footer h3{
     color: #FFFFFF;
     font-family:'Times New Roman', Times, serif;
     font-size: 50px;
     margin-left: 15px;
    position: relative;
    top:-160px;
    
 }


 footer h5{
    position: relative;
    left: 800px;
    top:30px;
   color: #FFFFFF;
   font-size: 30px;
   
 }


 footer p{
     position: relative;
     left: 800px;
    top:40px;
    color: #FFFFFF;
   
 }


 footer a{
     color: #FFFFFF;
     padding: 20px;
     font-size: 40px;
     position: relative;
     top:-120px;
     

 }
 footer a:hover{
     color: #66635e;
 }
